<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
    <modules>
        <Ikom_ExtendRestApi>
            <version>0.1.0</version>
        </Ikom_ExtendRestApi>
    </modules>
    <global>
        <models>
            <extendrestapi>
                <class>Ikom_ExtendRestApi_Model</class>
            </extendrestapi>
        </models>
    </global>
</config>
